{% extends 'base.html.twig' %}

{% block title %}NiveauScolaire index{% endblock %}

{% block body %}
    <h1>NiveauScolaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau_scolaire in niveau_scolaires %}
            <tr>
                <td>{{ niveau_scolaire.id }}</td>
                <td>{{ niveau_scolaire.niveau }}</td>
                <td>
                    <a href="{{ path('app_niveau_scolaire_show', {'id': niveau_scolaire.id}) }}">show</a>
                    <a href="{{ path('app_niveau_scolaire_edit', {'id': niveau_scolaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_niveau_scolaire_new') }}">Create new</a>
{% endblock %}
