{% extends 'base.html.twig' %}

{% block title %}Agent index{% endblock %}

{% block body %}
    <h1>Agent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Avatar</th>
                <th>Description</th>
                <th>Temperature</th>
                <th>SystemPrompt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.id }}</td>
                <td>{{ agent.nom }}</td>
                <td>{{ agent.avatar }}</td>
                <td>{{ agent.description }}</td>
                <td>{{ agent.temperature }}</td>
                <td>{{ agent.systemPrompt }}</td>
                <td>
                    <a href="{{ path('app_agent_show', {'id': agent.id}) }}">show</a>
                    <a href="{{ path('app_agent_edit', {'id': agent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agent_new') }}">Create new</a>
{% endblock %}
