{% extends 'base.html.twig' %}

{% block title %}Agent{% endblock %}

{% block body %}
    <h1>Agent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agent.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ agent.nom }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ agent.avatar }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ agent.description }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ agent.temperature }}</td>
            </tr>
            <tr>
                <th>SystemPrompt</th>
                <td>{{ agent.systemPrompt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agent_index') }}">back to list</a>

    <a href="{{ path('app_agent_edit', {'id': agent.id}) }}">edit</a>

    {{ include('agent/_delete_form.html.twig') }}
{% endblock %}
